<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Zander's Internet Home</title>
  <link rel="stylesheet" href="/assets/css/themes.css">
  {% block head %}{% endblock %}
</head>
<body class="theme-{{ theme | default('base') }}">
  {% block body %}
    {{ content | safe }}
  {% endblock %}
</body>
</html>
