---
layout: layouts/base.njk
title: About
theme: base
permalink: /about/
---
<div class="about-container">
  <a href="/" class="back-link">&larr; Home</a>
  <h1>About</h1>

  <p>
    Welcome to Zander's Internet Home. My name is Zander and this is my home.
  </p>

  <p>
    This is a secluded corner of the internet for me to post to the void. In my prefessional life I am a data analyst with a focus on in simulation, causal methods and geospatial analysis. I like problems that require economistic thinking though I am by no means a economist. Infact being nothing in perticular is kinda a defining trait of mine. Jack of all trades, master of none as they say. In the coming months I'll be trying to post summaries of my work and some 'takes' i actually believe in.
  </p>

  <p>
    In my not so prefessional life I'm an avid climber and skier. Instagram once served as a highlight reel of this stuff but i'm trying to move away from that evil app. Hopefully the 'body' section will become where I post gear tips, route beta, trip reports and little stories. 
  </p>

  <p><strong>Sporting Highlights:</strong></p>
  <ul>
    <li>Sport Climbing - Rodeo Clown 13b </li>
    <li>Trad Climbing - Fallen Arches 13a </li>
    <li>Bouldering - haha im quite shit</li>
    <li>Alpine Climbing - Attempted rope solo of the <a href="https://www.youtube.com/watch?v=ChCcfEC6rl4">Franco-Argentina</a>, Actually rope soloing the <a href="https://www.youtube.com/watch?v=9oLsoO4sagA">Comesaña-Fonrouge</a> </li>
    <li>Skiing - <a href="https://www.strava.com/activities/13969452474">Silver-Stairs Traverse</a></li>
  </ul>

  <p>
    More coming soon.
  </p>

  
</div>
